#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}

.stMain{
    background: linear-gradient(to bottom, rgb(40, 159, 82), rgb(54, 155, 189));
}
h2{
    text-align: center;
}

.main .block-container {
            padding-top: 1rem;
            padding-bottom: 1rem;
            max-width: 100% !important;
}
thead tr th:first-child {display:none}
tbody th {display:none}
